<body>
  <div>
    <h1><%= currentPerson.name %></h1>
    <img
      src="<%= currentPerson.imagePath%>"
      alt="Picture about <%= currentPerson.id %>"
      width="500px"
    />
  </div>

  <div><%- include('./layouts/sidebar.ejs') %></div>

  <h2>Interests</h2>
  <ul>
    <% for(let i=0; i < currentPerson.interests.length; i++) { %>
    <li><%= currentPerson.interests[i]%></li>
    <% } %>
  </ul>
</body>
