<body>
  <div class="profile-image-sidebar">
    <div class="profile-picture">
      <h1>
        <%= currentPerson.name %>
      </h1>
      <img src="<%= currentPerson.imagePath%>" alt="Picture about <%= currentPerson.id %>" width="500px" />
    </div>
    <div class="profile-sidebar">
      <%- include('./layouts/sidebar.ejs') %>
    </div>
  </div>
  <h2>Interests</h2>
  <ul>
    <% for(let i=0; i < currentPerson.interests.length; i++) { %>
      <li>
        <%= currentPerson.interests[i]%>
      </li>
      <% } %>
  </ul>
</body>