<h3>
    <%= profile_id ? "Edit" : "New" %> Profile
</h3>

<form action="/profiles/edit<%= profile_id ? "/"+profile_id : "" %>" method="POST" enctype="multipart/form-data">
    <input type="hidden" id="profile_id" name="profile_id" value="<%= profile_id %>">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" value="<%= profile.name ? profile.name : '' %>">
    <label for="interests">Interests:</label>
    <input id="interests" name="interests" type="text" value="<%= profile.interests ? profile.interests : '' %>" >
    <label for="profileImage">Profile Image</label ><img />
        <% if(profile.imagePath !== '') { %>
            <img id="profile-image" src="<%= profile.imagePath  %>" alt="<%= profile.name %>" style="max-width: 200px; max-height: 150px; "/>
            <% } %>
    <input type="file" name="image" id="image" value="<%= profile.imagePath ? profile.imagePath : '' %>"/>
    <button type="submit" value="Submit">Submit</button>
</form>
<%= errorMessage %>