<h3><%= profile_id ? "Edit" : "New" %> Profile</h3>

<form action="/profiles/edit<%= profile_id ? "/"+profile_id : "" %>" method="POST">   
    <input type="hidden" id="profile_id" name="profile_id" value="<%= profile_id %>">
    <label for="name">Name:</label>
<input id="name" name="name" type="text" 
                 value="<%= profile.name ? profile.name : '' %>" >
                 <button type="submit" value="Submit">Submit</button>
</form>
<%= errorMessage %>
